<div class="filters-container">
    <div class="filter-item">
        <label for="year-input">Year</label>
        <input type="number" id="year-input" [(ngModel)]="year" (change)="fetchEventsByYear()" placeholder="Year">
    </div>

    <div class="filter-item">
        <label for="gp-input">Grand Prix</label>
        <select id="gp-input" [(ngModel)]="gp" (change)="onGpChange()">
            <option value="" disabled selected>Select Grand Prix</option>
            @for (event of events; track event.roundNumber) {
            <option [value]="event.eventName">{{ event.eventName }}</option>
            }
        </select>
    </div>

    <div class="filter-item">
        <label for="session-select">Session</label>
        <select id="session-select" [(ngModel)]="sessionType">
            <option value="" disabled selected>Select Session</option>
            @for (session of sessions; track session.session_index) {
            <option [value]="session.session_code">{{ session.session_name }}</option>
            }
        </select>
    </div>

    <button class="fetch-btn s-btn" (click)="onLoadData()" [disabled]="!gp || !sessionType">
        Load Data
    </button>

    <div class="toggle-container">
        <span class="toggle-label" [class.active]="viewState.viewMode() === 'drivers'">Drivers</span>
        <label class="switch">
            <input type="checkbox" [checked]="viewState.viewMode() === 'teams'" (change)="onViewToggle($event)">
            <span class="slider round"></span>
        </label>
        <span class="toggle-label" [class.active]="viewState.viewMode() === 'teams'">Teams</span>
    </div>

</div>